@import '../common';

.Flipper {
    /* entire container, keeps perspective */
	perspective: 1000px;
    display: inline-block;
    margin: 20px;

    border-radius: 5px;
    background-color: white;
    color: black;
    padding: 10px 20px;


    @media screen and (max-width: $screen-m) {
        display: block;
        margin: 20px auto;
    }

    /* flip the pane when hovered */
    &:hover &-Inner, &.hover &-Inner {
        transform: rotateY(180deg);
    }

    /* flip speed goes here */
    &-Inner {
        transition: 0.6s;
        transform-style: preserve-3d;

        position: relative;
    }

    &, &-Front, &-Back {
        width: 240px;
        height: 320px;

        @media screen and (max-width: $screen-xs) {
            width: 180px;
        }
    }

    /* hide back of pane during swap */
    &-Front, &-Back {
        backface-visibility: hidden;

        position: absolute;
        top: 0;
        left: 0;
    }

    /* Flipper-Front pane, placed above back */
    &-Front {
        vertical-align: middle;
        z-index: 2;
        /* for firefox 31 */
        transform: rotateY(0deg);

        & img {
            width: 100%;
            position: relative;
            top: 25%;

            @media screen and (max-width: $screen-m) {
                width: 80%;
            }
        }
    }

    /* back, initially hidden pane */
    &-Back {
        transform: rotateY(180deg);
    }
}

