@import '../common';

html {
    font-size: 12px;

    @media screen and (max-width: $break-mobile) {
        font-size: 10px;
    }

    @media screen and (min-width: $break-desktop) {
        font-size: 16px;
    }

}

body {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow-x: hidden;
    color: #fff;
    margin: 0;
}

p, span {
    font-size: 1.25rem;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

h1 { font-size: 3.5rem; }

h2 { font-size: 2rem; }

.Header, .Footer {
    background: $theme-primary;
    padding: 5px $side-padding;
}

.Header-Title {
    display: inline-block;
    width: 50%;
    text-align: left;
}

.Header-SocialMedia {
    display: inline-block;
    width: 50%;
    text-align: right;
    > a {
        color: #fff;
    }
    i {
        padding: 0px 10px;
    }
}
